*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #656464;
}
.wrapper{
    width: 1200px;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.wrapper .logo img{
    max-width: 500px;
    margin-left: 150px;;

}
.wrapper .camp{
background-color: #0a0a22;
}
.wrapper .wars{
    background-color: #a93d29;
    
}
.wrapper .wars .wars-img{
    border-radius: 20px;
  
}
.wrapper .free-code{
    width: 1000px;
    height: 2650px;
background-color: #fff;
}
/*.wrapper .free-code .task{
    color: black;
    background-color: #f5f6f7;
} */
.wrapper .code-wars{
    width: 1000px;
    height: 2650px;
    background-color: #303133;
    margin-left: 20px;
    padding: 10px 20px;
}
.wrapper .code-wars .task{
    color: #eaf0ec;
    background-color: #262729;
}
.wrapper .camp-block{
    width: 800px;
    
    
    margin-top: 20px;
    padding: 10px 30px;
    letter-spacing: 2px;
}
.wrapper .task{
        
    width: 800px;
    height:250px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #262729;
    margin-top: 20px;
    padding: 10px 30px;
    letter-spacing: 2px;
    
}
.wrapper .timmy{
    
    height:350px;
   
}
.wrapper .dogs{
    height:450px;
}
.wrapper .task .question{
    font-weight: bold;
    border-bottom: chartreuse 1px solid;
    
}
.wrapper .task .solution{
    padding-top: 15px;
    background-color: #262729;
}
.wrapper .task .solution span{
    font-weight: bold;
    background-color: rgb(174, 216, 132);
    color:rgb(69, 24, 128);
}
ul{
    width: 100%;
    list-style-image: url(images/gal.png);
    font-family: Roboto Mono, monospace;
    font-size: 1.3em;
    text-align: center;
    
   
}
ul li{
    width: 100%;
    background-color: #d0d0d4;
    border: #1b1b32 3px solid;
    margin-bottom: 10px;
    padding: 2px;
}
ul li:hover{
    cursor: pointer;
    background-color: #1b1b32;
    color: #d0d0d4;
}
ul li.new{
    list-style: none;
}

