:root{
    --color-One:rgba(221, 90, 60, 0.8);
    --color-Two: rgba(169, 61, 41, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #656464;
}
.wrapper{
    width: 1600px;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.wrapper .logo img{
    max-width: 500px;
    margin-left: 150px;

}

.wrapper .camp{
background-color: #0a0a22;
align-items: center;
}
.wrapper .wars{
    background-color: #a93d29;
    border-radius: 15px;
    
}
.wrapper .wars .wars-img{
    border-radius: 20px;
  
}
.wrapper .free-code{
    width: 1000px;
    min-height: 100vh;
    background-color: #fff;
}

.wrapper .code-wars{
    font-family: 'Lato', sans-serif;
    width: 1000px;
    min-height: 100vh;
    background-color: #303133;
    margin-left: 20px;
    padding: 10px 20px;
}
.wrapper .code-wars .task{
    color: #eaf0ec;
    background-color: #262729;
}
.wrapper .camp-block,
.wrapper .wars-task{
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 30px;
    letter-spacing: 2px;
}
.wrapper .wars-task .task{
        
    width: 720px;
    min-height:200px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px var(--color-Two);
    margin-top: 20px;
    padding: 20px 30px;
    letter-spacing: 2px;
    
}

.wrapper .free-code .task{
        
    width: 720px;
    min-height:200px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #262729;
    margin-top: 20px;
    padding: 20px 30px;
    letter-spacing: 2px;
    
}
ul.free-tasks{
    width: 90%;
    margin-left: 45px;
}

.wrapper .task .question{
    padding: 5px 10px;
    font-weight: bold;    
}

.wrapper .task .solution{
    padding-top: 15px;
    background-color: #262729;
    border-top: var(--color-Two) 2px solid;
}
.wrapper .free-code .task .solution{
    border-top: var(--color-Two) 2px solid;
}
.wrapper .task .solution span.other{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    background-color: var(--color-One);
    color:rgb(247, 244, 252);
}
.wrapper .task .solution span.mine{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: var(--color-Two);
    color:rgb(246, 245, 248);
}
code{
    font-size: 16px;
}
ul{
    width: 100%;
    list-style-image: url(images/gal.png);
    font-family: Roboto Mono, monospace;
    font-size: 1.3em;
    text-align: center;
    
   
}
ul li{
    width: 100%;
    background-color: #d0d0d4;
    border: #1b1b32 3px solid;
    margin-bottom: 10px;
    padding: 2px;
}
ul li:hover{
    cursor: pointer;
    background-color: #1b1b32;
    color: #d0d0d4;
}
ul li.new{
    list-style: none;
}
.wrapper .free-code .wars-task .task{
    color: rgb(63, 63, 70);
    background-color: rgba(212, 212, 216);
}
.wrapper .free-code .wars-task .task .question{
    padding-left: 20px;
    font-weight: bold;
    border-bottom: rgb(38, 39, 41) 1px double;
}
.wrapper .free-code .wars-task .task .solution{
    padding-top: 15px;
    background-color: rgba(212, 212, 216);
} 
.wrapper .free-code .wars-task .task .solution span.other{
    font-weight: bold;
    background-color: var(--color-One);
    color:rgb(237, 234, 241);
}
.wrapper .free-code .wars-task .task .solution span.mine{
    font-weight: bold;
    background-color: var(--color-Two);
    color:rgb(242, 239, 247);
}


@media (max-width: 1080px)
{
   
    .wrapper {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }
    .wrapper .free-code,
    .wrapper .code-wars{
        width: 100%;
        min-height: 100vh;
    }
  
    
    .wrapper .free-code .camp-block,
    .wrapper .code-wars .wars-task
   {
       width: 90%;
       
   }
   .wrapper .code-wars .wars-task .task{
    width: 98%;
   }
    .wrapper .code-wars{
    margin-left: 0;
    }
       

}